.section-body.section-body-primary.flex-1.wrapper-1 scroll-end="scrollEnd()" scroll-end-if="scrollEndActive" scroll-end-distance="2048"
  release-grid releases="releases" play="playRelease(release)" enqueue="enqueueRelease(release)"
